<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185280620278-5ts6sd4a5uovr3r0m4261ja4fc384pgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185280620278-5ts6sd4a5uovr3r0m4261ja4fc384pgb</string>
	<key>API_KEY</key>
	<string>AIzaSyDbukVorZ25AAj8jG_9XZWejQAq2vN59IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>185280620278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brew</string>
	<key>PROJECT_ID</key>
	<string>fluttuh</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttuh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185280620278:ios:f11844fa7e88d5b2052ed7</string>
</dict>
</plist>